<!doctype html>
<html ng-app="project">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js">
    </script>
    <script src="js/stat.js"></script>
</head>
<body>
<h2>Stats</h2>

<div ng-controller="StatCtrl">
    <select ng-model="statName" ng-change="changeStats()">
        <option ng-repeat="stat in statNames">{{stat}}</option>
    </select>

    <div ng-controller="StatCtrl">
        <select ng-model="statName" ng-change="changeStats()">
            <option ng-repeat="stat in statNames">{{stat}}</option>
        </select>

        <div ng-view></div>

    </div>
</div>
</body>
</html>