<p>{{statName}}</p>
<table>
    <thead>
    <tr>
        <th>Hour</th>
        <th>Avg</th>
        <th>Count</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="stat in stats">
        <td>{{stat.group}}</a></td>
        <td>{{stat.avg}}</a></td>
        <td>{{stat.count}}</a></td>
    </tr>
    </tbody>
</table>